.App{
    position: relative;
    overflow-x: clip;
}

.App>:nth-child(1){
    background: var(--blue);
   
}
.njareb{
    background-color: white;
    padding: 100px;
    position:absolute;
    
    top: 10vh;
    min-height:90vh;
    width: 250px;
}
@media (max-height:550px) {
    .njareb{
        top: 15vh;
    }
    
}